<md-toolbar class="dark-grey" layout="row" layout-align="start center">
    <p layout="row" flex class="xs-txt">&copy; 2015 HOODOO - ALL RIGHTS RESERVED</p>
    <div layout="row" layout-align="end" id="social-icons">
      <a href="https://www.linkedin.com/company/hoodoo-inc-" target="blank">
        <md-icon md-svg-icon="assets/icons/socialMedia/linkedin.svg" style="fill: #9E9E9E" size="36" ></md-icon>
      </a>
      <a href="https://www.facebook.com/hoodooinc" target="blank">
        <md-icon md-svg-icon="assets/icons/socialMedia/facebook.svg" style="fill: #9E9E9E" size="36" ></md-icon>
      </a>
      <a href="https://plus.google.com/u/0/b/108325831444888609272/108325831444888609272/about" target="blank">
        <md-icon md-svg-icon="assets/icons/socialMedia/google-plus.svg" style="fill: #9E9E9E" size="36" ></md-icon>
      </a>
      <!-- <a href="" target="blank">
        <md-icon md-svg-icon="assets/icons/socialMedia/twitter.svg" style="fill: #9E9E9E" size="36" ></md-icon>
      </a> -->
      <a href="mailto:info@hoodooinc.com?subject=From-Website">
        <md-icon md-svg-icon="assets/icons/socialMedia/mail.svg" style="fill: #9E9E9E" size="36" style="color:#fff;" ></md-icon>
      </a>
    </div>
</md-toolbar>
