<md-toolbar class="dark-grey">
    <div class="md-toolbar-tools" ng-controller="LeftCtrl">
        <md-button class="md-icon-button md-primary square" aria-label="Settings" style="width:48px;" ng-click="close()" hide-gt-sm>
            <md-icon md-svg-icon="assets/icons/navigation/ic_close_48px.svg"></md-icon>
        </md-button>
        <span hide-gt-sm>Close</span>
        <img src="assets/images/hoodoo.svg" id="logo-left" alt="Hoodoo Inc">
    </div>
</md-toolbar>
<md-content ng-controller="NavbarController">
    <md-button class="menu-link" href="{{link.url}}" ng-repeat="link in links">{{link.label}}</md-button>
    <!-- outside blog link -->
    <md-button class="menu-link" href="http://hoodooinc.com/blog" target="blank">Blog<span><i class="material-icons">launch</i></span></md-button>
    <!-- page linked CTAs -->
    <div>
        <!-- ***FIX*** clean up CTA boxes -->
        <md-whiteframe class="md-whiteframe-z2 cta-btn" layout="column" layout-align="start start" ng-repeat="cta in ctas" ui-sref="{{cta.url}}">
            <h2>{{cta.h2}}</h2>
            <p>{{cta.p}}</p>
            <sub>{{cta.sub}}</sub>
            <!-- ***FIX*** incorporate link in controller -->
        </md-whiteframe>
    </div>
    <!-- modal CTAs -->
    <div>
        <md-whiteframe class="md-whiteframe-z2 cta-modal" layout="column" layout-align="start start" ng-repeat="modal in modalCTAs" ng-click="dialogAlert($index);">
            <h2>{{modal.h2}}</h2>
            <p>{{modal.p}}</p>
        </md-whiteframe>
    </div>
</md-content>

