<md-toolbar class="dark-grey" md-background ng-controller="ToggleController">
    <h2 class="md-toolbar-tools">
        <md-button class="md-icon-button md-primary" aria-label="Settings" style="width:48px;" ng-click="toggleLeft()" hide-gt-sm>
            <md-icon md-svg-icon="assets/icons/navigation/ic_menu_48px.svg"></md-icon>
        </md-button>
        <span hide-lt-md><img src="assets/images/hoodoo.svg" id="logo-right" alt="Hoodoo Inc"></span>
    </h2>
</md-toolbar>
