<md-toolbar class="dark-grey" md-background>
    <h2 class="md-toolbar-tools">
        <span><img src="assets/images/hoodoo.svg" id="logo" class="pointer" ref="/home" ui-sref="home"></span>
    </h2>
</md-toolbar>


