<h2 hide show-sm>{{title.h1}}</h2>
<div layout="row" layout-fill="" style="padding: 0 32px;" layout-align="center center">
    <md-whiteframe class="md-whiteframe-z2 jImage" layout-align="center center" flex="80" flex-sm="100" hide-sm>
    </md-whiteframe>
</div>
<p class="lead" hide show-sm>{{content.lead}}</p>
