<h2 hide show-sm>{{title.h1}}</h2>
<div id="contact-jumbotron" layout="row" layout-fill="" layout-align="center center">
    <md-whiteframe class="md-whiteframe-z2 jImage" layout-align="center center" flex="70" flex-sm="100" hide-sm>
        <md-toolbar class="lime" layout-align="center start">
            <span layout="row">
                <md-icon md-svg-icon="assets/icons/navigation/ic_menu_48px.svg"></md-icon>
                <h3>Contact Us</h3>
            </span>
            <md-button class="md-fab add-contact " aria-label="Eat cake">
                <span>+</span>
            </md-button>
        </md-toolbar>
        <div layout="column" layout-align="center start">
            <span layout="row" class="contact-info">
                <md-icon md-svg-icon="assets/icons/comm/phone.svg"></md-icon>
                <h3>408.622.1920</h3>
            </span>
            <span layout="row" class="contact-info">
                <md-icon md-svg-icon="assets/icons/comm/email.svg"></md-icon>
                <h3>info@hoodooInc.com</h3>
            </span>
        </div>
    </md-whiteframe>
</div>
<p class="lead" hide show-sm>{{content.lead}}</p>
