<h2 hide show-sm>{{title.h1}}</h2>
<div id="promos-jumbotron" layout="row" layout-fill="" layout-align="center center">
    <md-whiteframe class="md-whiteframe-z2 jImage" layout-align="start center" flex="70" flex-sm="100" hide-sm layout="row">
      <div class="icon-holder" flex="35" layout="row" layout-align="center center">
        <i class="material-icons">shopping_cart</i>
      </div>
      <div class="banner-txt" flex layout="column" layout-align="start start" layout-padding layout-margin>
        <h1>{{title.h1}}</h1>
        <p>{{content.lead}}</p>
        <p>{{content.leadTwo}}</p>
    </md-whiteframe>
</div>
<p class="lead" hide show-sm>{{content.lead}}</p>
