<script type="text/javascript" src="https://bitrix24.d-it.ru/forms/js/iframe.js?v2" charset="utf-8"></script>
<script type="text/javascript">window.onload = function () {window.B24Form.initForms();}</script>

<section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" ng-include="'app/components/navbar/navbar.html'"></md-sidenav>
    <!-- *** SIDENAV *** -->
    <md-content flex>
        <div layout="column" layout-fill layout-align="top center">
            <!-- *** HEADER *** -->
            <section layout="row" ng-include="'app/components/header/header.html'"></section>
            <!-- *** JUMBOTRON *** -->
                <section class="jumbotron" ng-include="'app/components/jumbotron/jumbotron--contact.html'"></section>
            <!-- *** MAIN CONTENT *** -->
            <div class="main-content" layout-padding layout-margin>
                <!-- <h1>{{title.h1}}</h1> -->
                <section layout="row" layout-align="center center">
                    <p class="lead" hide-sm layout-margin layout-padding flex="80">{{content.lead}}</p>
                </section>
                <!-- inject paragraphs -->
            <!--     <section layout-padding layout-margin>
                    <p class="lead">{{content.leadTxt}}</p>
                </section> -->
                <div layout="column" class="md-whiteframe-z1" layout-padding layout-margin>
                    <md-content layout-padding >
                        <form name="userForm" class="contact-form" action="http://www.hoodooinc.com/cgi-sys/formmail.pl" method="post">
                            <input type="hidden" name="recipient" value="info@hoodooinc.com">
                            <input type="hidden" name="subject" value="General Contact From Site">
                            <div layout layout-sm="column">
                                <md-input-container flex>
                                    <label>First Name</label>
                                    <input ng-model="user.firstName" name="fname" size="30" required="" value="<?php echo @$fname ?>">
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Last Name</label>
                                    <input ng-model="user.lastName" name="lname" size="30" required="" value="<?php echo @$lname ?>">
                                </md-input-container>
                            </div>
                            <div layout layout-sm="column">
                                <md-input-container flex>
                                    <label>Phone</label>
                                    <input ng-model="user.phone" name="fphone1" size="20"  required=""value="<?php echo @$fphone1 ?>">
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Email</label>
                                    <input ng-model="user.email" name="femail" size="30" required="" value="<?php echo @$femail ?>">
                                </md-input-container>
                            </div>
                            <div layout layout-sm="column">
                                <md-input-container flex>
                                    <label>Company <span class="sm-txt">(optional)</span></label>
                                    <input ng-model="user.company" name="fcompany" size="30" value="<?php echo @$fcompany ?>">
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Website <span class="sm-txt">(optional)</span></label>
                                    <input ng-model="user.website" name="fwebsite" size="30" value="<?php echo @$fwebsite ?>">
                                </md-input-container>
                            </div>
                            <md-input-container flex>
                                <label>Message</label>
                                <textarea ng-model="user.biography" columns="1" md-maxlength="250" name="fsendmail" required="">
                                  <?php if($fsendmail) echo $fsendmail; ?>
                                </textarea>
                            </md-input-container>
                            <md-input-container flex>
                              <md-checkbox ng-model="isChecked" type="checkbox" ng-model="user.newsletter" checked="true" name="newsletter_checkbox" id="newsletter_checkbox">
                                <span class="sm-txt">Sign me up for the newsletter</span
                              </md-checkbox>
                            </md-input-container>
                            <input type="hidden" name="newsletter" value="0" />

                            <section layout="row" layout-sm="column" layout-align="end center">
                              <md-button class="md-raised md-warn send-button square" type="submit" onclick="hgsubmit();">Send</md-button>
                              <input type="hidden" name="redirect" value="http://www.hoodooinc.com/#/thank-you">
                            </section>
                        </form>
                    </md-content>
                </div>
            </div>
        </div>
    </md-content>
</section>
<script>
$('input[type="checkbox"]').on('change', function(e){
        if($(this).prop('checked'))
        {
            $(this).next().val(1);
        } else {
            $(this).next().val(0);
        }
});
</script>

<footer ng-include="'app/components/footer/footer.html'"></footer>
