<script type="text/javascript" src="https://bitrix24.d-it.ru/forms/js/iframe.js?v2" charset="utf-8"></script>
<script type="text/javascript">window.onload = function () {window.B24Form.initForms();}</script>

<section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" ng-include="'app/components/navbar/navbar.html'"></md-sidenav>
    <!-- *** SIDENAV *** -->
    <md-content flex>
        <div layout="column" layout-fill layout-align="top center">
            <!-- *** HEADER *** -->
            <section layout="row" ng-include="'app/components/header/header.html'"></section>
            <!-- *** JUMBOTRON *** -->
                <section class="jumbotron" ng-include="'app/components/jumbotron/jumbotron--contact.html'"></section>
            <!-- *** MAIN CONTENT *** -->
            <div class="main-content" layout-padding layout-margin>
                <div layout="column" class="md-whiteframe-z1" layout-padding layout-margin>
                    <md-content layout-padding >
                        <h1>Thank You</h1>
                        <section layout="row" layout-align="center center">
                            <p class="lead" hide-sm layout-margin layout-padding flex="80">Thank you for reaching out. We will respond to your email shortly.</p>
                        </section>
                    </md-content>
                </div>
            </div>
        </div>
    </md-content>
</section>


<footer ng-include="'app/components/footer/footer.html'"></footer>
