    <section layout="row" flex id="promotions">
        <!-- *** SIDENAV *** -->
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" ng-include="'app/components/navbar/navbar.html'">
        </md-sidenav>
        <md-content flex>
            <div layout="column" layout-fill layout-align="top center">
                <!-- *** HEADER *** -->
                <section layout="row" ng-include="'app/components/header/header.html'"></section>
                <!-- *** JUMBOTRON *** -->
                <section class="jumbotron" ng-include="'app/components/jumbotron/jumbotron--promos.html'"></section>

                <div class="main-content" layout-padding layout-margin>
                    <section ng-repeat="section in sections" class="discounts">
                        <h3>{{section.head}}</h3>
                        <h4>{{section.sub}}</h4>
                        <p>{{section.p}}</p>
                        <p ng-if="section.disclaimer.length > 0;" class="disclaimer">{{section.disclaimer}}</p>
                    </section>
                    <span layout="row" layout-align="end center">
                      <md-button class="md-raised md-warn square" ui-sref="contact">contact</md-button>
                    </span>
                </div>
            </div>
        </md-content>
    </section>



<footer ng-include="'app/components/footer/footer.html'"></footer>
