    <section layout="row" flex id="portfolio">
        <!-- *** SIDENAV *** -->
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" ng-include="'app/components/navbar/navbar.html'">
        </md-sidenav>
        <md-content flex>
            <div layout="column" layout-fill layout-align="top center">
                <!-- *** HEADER *** -->
                <section layout="row" ng-include="'app/components/header/header.html'"></section>
                <!-- *** JUMBOTRON *** -->
                <section class="jumbotron" ng-include="'app/components/jumbotron/jumbotron.html'"></section>

                <div class="main-content" layout-padding layout-margin>
                    <h1 hide-sm>{{title.h1}}</h1>
                    <section layout="row" layout-align="center center">
                        <p class="lead" hide-sm layout-margin layout-padding flex="80">{{content.lead}}</p>
                    </section>
                    <!-- <section ng-repeat="section in sections">
                        <h2>{{section.h2}}</h2>
                        <p>{{section.p}}</p>
                    </section> -->
                    <section layout="row" layout-align="center center" layout-wrap id="portfolio-items">
                      <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" flex="30" flex-md="100" flex-sm="100" layout-margin ng-repeat="project in projects">
                        <div class="coming-soon" ng-if="project.launched=='comingSoon';">
                          <h4>Coming Soon</h4>
                        </div>
                        <div class="port-item" layout="column">
                          <div class="pItem-imgHolder txt-center">
                            <img alt="BAY Flag Football" layout-align="center center" src="{{project.img}}">
                          </div>
                          <div class="pItem-title">
                            <h3>{{project.title}}</h3>
                            <ul>
                              <li ng-repeat="tech in project.techs">
                                <md-tooltip>
                                  {{tech}}
                                </md-tooltip>
                                <img ng-src="assets/images/tech-icons/{{tech}}.svg" alt="{{tech}}" class="tech-icon" />
                              </li>
                            </ul>
                          </div>
                          <div class="pItem-desc">
                            <p layout-padding>{{project.desc}}</p>
                          </div>
                        </div>
                      </md-whiteframe>
                    </section>
                </div>
            </div>
        </md-content>
    </section>



<footer ng-include="'app/components/footer/footer.html'"></footer>

