// @import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

/***** FONTS *****/


/***** COLORS *****/

// primary colors
$cyan: #00BCD4;
$lime: #CDDC39;
$deep-orange: #FF5722;
$blue-grey: #607D8B;

// grayscale
$dark-grey: #424242;
$lt-grey: #E0E0E0;
$grey: #9E9E9E;


// light colors (200)
$lt-cyan: #80DEEA;
$lt-lime: #E6EE9C;

// dark colors (800)
$dark-cyan: #00838F;


//special use colors
$pink: #E91E63;
$red: #F44336;
$lt-red: #EF9A9A;
$dk-red: #C62828;


// globals
h1,h2,h3,h4,h5,h6 {
  font-family: roboto;
  font-weight: 700;
}
.dark-grey {
  background: $dark-grey !important;
}
.blue-grey {
  background: $blue-grey !important;
}
.lime {
  background: $lime !important;
}

#view-wrapper {
  height:100%; min-height: 600px;
}

.txt-center {
  text-align: center;
}

html {
  font-family: 'roboto', serif;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

[layout=row] {
  flex-direction: row;
}

.pointer {
  cursor: pointer;
}

.open-link {
  height: 24px;
  width: 24px;
  color: #fff;
  margin-left: 10px;
  margin-bottom:-5px;
}

md-dialog {
  border-radius: 0;
  max-width: 70%;
}

.disclaimer {
  font-size: .75em;
  font-style: italic;
  color: $grey;
}
.sm-txt {
  font-size: .85em;
}

.xs-txt {
  font-size: .65em;
}

.fine-print {
  font-size: .65em;
  line-height: 1em;
  vertical-align: middle;
}

.lead {
  font-size: 1.1em;
  color: $grey;
  font-style: italic;
}

.form-text {
  color: rgba(0,0,0,0.26);
  &:focus {
    color: #000;
    .md-label {
      border: none;
    }
  }
}

.md-button.md-default-theme {
  span {
    padding: 10px !important;
  }
}
md-sidenav .md-button span i {
  vertical-align: middle;
    float: right;
    padding-top: 4px;
    color: $grey;
}

.md-button.md-default-theme.square {
 border-radius: 0;
}

.md-button.md-default-theme.md-primary {
  color: $cyan;
}

.md-button.md-raised.md-primary {
  color: #fff;
}

.md-button.md-primary:not([disabled]) md-icon {
  color: #fff;

  md-icon {
    margin: auto;
    background-repeat: no-repeat no-repeat;
    display: inline-block;
    fill: currentcolor;
    height: 24px;
    width: 24px;
  }
}

fieldset {
  border-color: #ccc;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.cta-btn,
.cta-modal {
  margin: 30px 15px;
  padding: 10px;
  font-family: Helvetica;
  cursor: pointer;
  h2 {
    margin: 0;
    font-weight: 600;
  }
  p {
    margin: 5px 0;
    line-height: 1.25em;
  }
}

.cta-btn:nth-child(1) {
  margin-top: 50px;
  background: $lime;
  color: $blue-grey;
}

.cta-modal:nth-child(1) {
  background: $deep-orange;
  color: #fff;
}

.cta-modal:nth-child(2) {
  background: $blue-grey;
  color: #fff;
}


md-toolbar.md-default-theme {
  background-color: black;
}

section.jumbotron {
  margin-bottom: 30px;
  padding: 1px 20px;
  background-color: $cyan;
  text-align: center;
  color: white;

  h2 {
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .lead {
    color: #fff;
  }

  .jImage {
    background: #fff center center no-repeat;
    background-size: cover;
    height:240px;
    margin-top: 40px;
    margin-bottom: 40px;

    h3,span {
      color: $blue-grey;
      margin: 3px 12px;
    }

  }
}

.techs {
  display: flex;
  flex-flow: row wrap;

  md-card {
    width: 30%;

    img.pull-right {
      float: right;
      width: 50px;
    }
  }
}

#logo-left,
#logo-right,
#logo {
    width:100% !important;
    max-width: 280px;
  }

.menu-link,
.menu-link a{
    margin: 0;
    display: block;
    padding: 10px 20px;
    list-style: none !important;
    border-bottom: 1px solid #eee !important;
    width: 100% !important;
    border-radius: 0;
    text-align: left;
    font-size: 0.85em;
    font-weight: 600;
    font-family: sans-serif;
  }

footer {
  height: 64px;
  font-family: sans-serif;
  // font-weight: 600;
  font-size: 0.8em;
  md-toolbar {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.contact-form {
  padding: 20px;
}

#social-icons {
  md-icon {
    height: 32px;
    width: 32px;
    margin-left: 10px;
    svg {
      path {
        fill: #E0E0E0;
      }
    }
  }
  md-icon:hover {
    svg {
      path {
        fill: $cyan;
      }
    }
  }
}

/***** FORMS *****/
form {
  md-content {
    padding: 10px;
    legend {
      font-weight: bold;
      margin-bottom: 15px;
    }
  }
  .form-dark {
    background-color: $dark-grey;
    color: $grey;
    label {
      color: $grey;
    }
    input {
      // border-color: $grey !important;
      color: $grey !important;
      &:focus {
        // border-color: $cyan !important;
      }
    }
  }
  md-input-container.md-default-theme .md-input {
    border-color: $grey;
  }

  md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value label{
    color: $grey;
  }
}

/***** INDEX PAGE *****/
#main {
  .jumbotron {
    .jImage {
      background-image: url('../assets/images/welcome.png');
    }
  }
}

/***** INDEX PAGE *****/
#services {
  .jumbotron {
    .jImage {
      background-image: url('../assets/images/web-development-services.jpg');
    }
  }
}

/***** PORTFOLIO PAGE *****/
#portfolio {
  .jumbotron {
    .jImage {
      background-image: url('../assets/images/portfolioBG.jpg');
    }
  }
  #portfolio-items {
    md-whiteframe {
      height:500px;
      position: relative;
      .coming-soon {
        position: absolute;
        z-index:10;
        padding: 5px;
        background-color:rgba(205, 220, 57,0.8);
        h4 {
          margin:0;
          padding:0;
          color:#fff;
        }
      }
      .port-item {
        height:100%;
        width: 100%;
        .pItem-imgHolder {
          height:40%;
          background-color:#fff;
          img {
            // tall images
            max-height: 90%;
            margin-top: 5%;
            // wide images
            max-width: 90%;
            min-height:125px;
          }
        }
        .pItem-title {
          height:20%;
          background-color:#333;
          color:#fff;
          text-align:left;
          padding-left:5px;
          ul {
            text-align:left;
            padding-left:0;
            li {
              display:inline-block;
              &:after {
                content: "";
                margin-left:5px;
                margin-right:5px;
              }
              .tech-icon {
                height: 24px;
                width: 24px;
              }
            }
          }
        }
        .pItem-desc {
          height:40%;
          background-color:#ddd;
          font-size: 1em;
        }
      }
    }
  }
}
/***** PROMOTIONS PAGE *****/
#promotions {
  h4 {
    color: $grey;
    margin-top: -15px;
  }
  .discounts {
        border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    margin-bottom: 10px;
    .disclaimer {
      font-size: 0.7em;
      font-style: italic;
    }
  }
  .jImage {
    .icon-holder{
      background-color: $lime;
      height: 100%;
      i {
        font-size: 8em;
      }
    }
    .banner-txt {
      color: $grey;
      height:100%;
      h1 {
        margin: 10px 0;
        font-size: 1.25em;
        font-weight: 700;
        color: $grey;
      }
      p {
        margin: 10px 0;
        text-align: left;
      }
    }
  }
}

/***** CONTACT PAGE *****/
#contact-jumbotron{
  padding: 0 32px;
  md-whiteframe {
    md-toolbar {
      height:60px;
      position: relative;
      .add-contact {
        position: absolute;
        right:30px !important;
        top:35px !important;
        background-color: $blue-grey;
        span {
          color:#fff;
          font-size: 28px;
          padding: 0 !important;
          margin: 0 auto;
        }
      }
    }
  }
  .contact-info {
    padding: 10px 20px;
    &:first-child {
      margin-top: 40px;
    }
    md-icon {
    }
    font-weight: 600;

  }
}


/***** MEDIA QUERIES *****/
@media (min-width: 1200px){
  .jumbotron {
    md-whiteframe {
      background-size: cover;
    }
  }
  #portfolio {
  .jumbotron {
    md-whiteframe {
      background-size: 680px;
    }
  }
}
}

@media (max-width: 600px){
  #logo-left {
    display: none;
  }

  #logo-right {
    margin-top: 7px;
    margin-left: 10px;
  }
    .jumbotron {
      md-whiteframe {
        background-size: contain;
        background: #fff;
        height:240px;
        margin-top: 40px;
      }
    }
}

@media (min-width: 601px){
  #logo-right {
    display: none;
  }
}

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
