    <section layout="row" flex id="services">
        <!-- *** SIDENAV *** -->
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" ng-include="'app/components/navbar/navbar.html'">
        </md-sidenav>
        <md-content flex>
            <div layout="column" layout-fill layout-align="top center">
                <!-- *** HEADER *** -->
                <section layout="row" ng-include="'app/components/header/header.html'"></section>
                <!-- *** JUMBOTRON *** -->
                <section class="jumbotron" ng-include="'app/components/jumbotron/jumbotron.html'"></section>

                <div class="main-content" layout-padding layout-margin>
                    <h1 hide-sm>{{title.h1}}</h1>
                    <section layout="row" layout-align="center center">
                        <p class="lead" hide-sm layout-margin layout-padding flex="80">{{content.lead}}</p>
                    </section>
                    <section ng-repeat="section in sections">
                        <h3>{{section.sub}}</h3>
                        <p>{{section.p}}</p>
                    </section>
                </div>
            </div>
        </md-content>
    </section>



<footer ng-include="'app/components/footer/footer.html'"></footer>

