<section layout="row" flex>
    <md-content flex>
        <div layout="column" layout-fill layout-align="top center">
            <!-- *** HEADER *** -->
            <section layout="row" ng-include="'app/components/header/landingHeader.html'"></section>
            <!-- *** JUMBOTRON -->
            <section class="jumbotron">
                <h2>{{title.h1}}</h2>
                <p class="lead">{{title.lead}}</p>
                <!-- <p><a class="btn" ng-href="#">Splendid!</a></p> -->
            </section>
            <!-- MAIN CONTENT -->
            <div class="main-content" layout-padding>
                <!-- <h1>{{title.h1}}</h1> -->
                <!-- inject paragraphs -->
                <section ng-repeat="section in sections">
                    <h2>{{section.sub}}</h2>
                    <p>{{section.p}}</p>
                </section>
                <div class="md-whiteframe-z1" layout-margin>
                    <md-content>
                        <form name="userForm" action="http://www.hoodooinc.com/cgi-sys/formmail.pl" method="post">
                          <input type="hidden" name="recipient" value="info@hoodooinc.com">
                          <input type="hidden" name="subject" value="Referral From Site">
                          <md-content class="form-dark">
                            <legend>Your Information:<br /><span class="disclaimer">All Fields Required</span></legend>
                            <div layout layout-sm="column">
                                <md-input-container flex>
                                    <label>First name</label>
                                    <input ng-model="visitor.firstName" name="visitorFirstName" size="30" required="" value="<?php echo @$visitorFirstName ?>">
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Last Name</label>
                                    <input ng-model="visitor.lastName" name="visitorLastName" size="30" required="" value="<?php echo @$visitorLastName ?>">
                                </md-input-container>
                            </div>
                            <div layout layout-sm="column">
                                <md-input-container flex>
                                    <label>Phone</label>
                                    <input ng-model="visitor.phone" name="visitorPhone" size="30" required="" value="<?php echo @$visitorPhone ?>">
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Email</label>
                                    <input ng-model="visitor.email" name="visitorEmail" size="30" required="" value="<?php echo @$visitorEmail ?>">
                                </md-input-container>
                            </div>
                          <!-- </fieldset> -->
                          </md-content>
                          <md-content>
                            <legend>Referrals Information:<br /><span class="disclaimer">All Fields Required</span></legend>
                            <div layout layout-sm="column">
                                <md-input-container flex>
                                    <label>First name</label>
                                    <input ng-model="referral.firstName" name="referralFirstName" size="30" required="" value="<?php echo @$referralFirstName ?>">
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Last Name</label>
                                    <input ng-model="referral.lastName" name="referralLastName" size="30" required="" value="<?php echo @$referralLastName ?>">
                                </md-input-container>
                            </div>
                            <div layout layout-sm="column">
                                <md-input-container flex>
                                    <label>Phone</label>
                                    <input ng-model="referral.phone" name="referralPhone" size="30" required="" value="<?php echo @$referralPhone ?>">
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Email</label>
                                    <input ng-model="referral.email" name="referralEmail" size="30" required="" value="<?php echo @$referralEmail ?>">
                                </md-input-container>
                            </div>
                            <div layout layout-sm="column">
                                <md-input-container flex>
                                    <label>Company <span class="sm-txt">(optional)</span></label>
                                    <input ng-model="referral.company" name="referralCompany" size="30" value="<?php echo @$referralCompany ?>">
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Website <span class="sm-txt">(optional)</span></label>
                                    <input ng-model="referral.website" name="referralWebsite" size="30" value="<?php echo @$referralWebsite ?>">
                                </md-input-container>
                            </div>
                            <div layout layout-sm="column">
                              <md-input-container flex>
                                  <label>Message</label>
                                  <textarea ng-model="referral.message" columns="1" md-maxlength="250" required="" name="referralMessage"><?php if($referralMessage) echo $freferralMessage; ?></textarea>
                              </md-input-container>
                            </div>
                            <p class="disclaimer">{{title.disclaimer}}</p>
                            <section layout="row" layout-sm="column" layout-align="end center">
                              <md-button class="md-raised md-warn send-button" type="submit" onclick="hgsubmit();">Send</md-button>
                              <input type="hidden" name="redirect" value="http://www.hoodooinc.com/#/thank-you">
                            </section>
                          </md-content>
                        </form>
                    </md-content>
                </div>
            </div>
        </div>
    </md-content>
</section>


<footer ng-include="'app/components/footer/footer.html'"></footer>
