<script type="text/javascript" src="https://bitrix24.d-it.ru/forms/js/iframe.js?v2" charset="utf-8"></script>
<script type="text/javascript">window.onload = function () {window.B24Form.initForms();}</script>

<section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" ng-include="'app/components/navbar/navbar.html'"></md-sidenav>
    <!-- *** SIDENAV *** -->
    <md-content flex>
        <div layout="column" layout-fill layout-align="top center">
            <!-- *** HEADER *** -->
            <section layout="row" ng-include="'app/components/header/header.html'"></section>
            <!-- *** MAIN CONTENT *** -->
            <div class="main-content" layout-padding layout-margin>
                <!-- <h1>{{title.h1}}</h1> -->
                <iframe width="100%" height="600px" src="http://blog.qumani.com"></iframe>
            </div>
        </div>
    </md-content>
</section>
<script>
$('input[type="checkbox"]').on('change', function(e){
        if($(this).prop('checked'))
        {
            $(this).next().val(1);
        } else {
            $(this).next().val(0);
        }
});
</script>

<footer ng-include="'app/components/footer/footer.html'"></footer>
